In [1]:
import pandas as pd
from glob import glob

In [2]:
pickles = glob('*.p')

In [3]:
df, total, job_duration, industry, age_group, type_of_legal_organisation, \
institutional_sector, employment_size = [pd.read_pickle(p) for p in pickles]

In [4]:
df.columns

MultiIndex(levels=[['MEDIAN EMPLOYMENT INCOME PER JOB ($)', 'NUMBER OF JOBS ('000)'], ['FEMALES', 'MALES', 'PERSONS'], ['2011-12', '2012-13', '2013-14', '2014-15', '2015-16']],
           codes=[[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 2, 2, 2, 2, 2, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 2, 2, 2, 2, 2], [0, 1, 2, 3, 4, 0, 1, 2, 3, 4, 0, 1, 2, 3, 4, 0, 1, 2, 3, 4, 0, 1, 2, 3, 4, 0, 1, 2, 3, 4]])

In [11]:
df.loc['Age group',('MEDIAN EMPLOYMENT INCOME PER JOB ($)','FEMALES','2015-16')]

14 years and under       1121
15 to 17 years           2642
18 to 20 years           5210
21 to 24 years          10210
25 to 29 years          18022
30 to 34 years          24960
35 to 39 years        28081.5
40 to 44 years          30323
45 to 49 years          32442
50 to 54 years          34143
55 to 59 years          34043
60 to 64 years          30050
65 to 69 years          19532
70 to 74 years        10050.5
75 to 79 years           6600
80 to 84 years           6203
85 years and over        6975
Name: (MEDIAN EMPLOYMENT INCOME PER JOB ($), FEMALES, 2015-16), dtype: object

In [12]:
df.loc['Age group',('MEDIAN EMPLOYMENT INCOME PER JOB ($)','MALES','2015-16')]

14 years and under    1221.5
15 to 17 years          2772
18 to 20 years        6407.5
21 to 24 years         12454
25 to 29 years         21610
30 to 34 years         36838
35 to 39 years         46951
40 to 44 years         51292
45 to 49 years         52242
50 to 54 years         52088
55 to 59 years         49719
60 to 64 years         41112
65 to 69 years         25000
70 to 74 years         13401
75 to 79 years          8454
80 to 84 years          6759
85 years and over       6922
Name: (MEDIAN EMPLOYMENT INCOME PER JOB ($), MALES, 2015-16), dtype: object